APP_NAME=Sistemas_de_Contratos_Nova_364
APP_ENV=local
APP_KEY=base64:hTdNuXYEXjydudkuIOhO4vl3P0HeMhZGgjwipiTYZiU=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# Produção
# DB_CONNECTION=pgsql
# DB_HOST=77.37.41.48
# DB_PORT=5432
# DB_DATABASE=sigyo_bionio_prd
# DB_SCHEMA=contas_receber, public
# DB_USERNAME=alexandre_almeida
# DB_PASSWORD=z258Aue!s2ep@srv535752

# Homologação
# DB_CONNECTION=pgsql
# DB_HOST=77.37.41.48
# #DB_HOST=72.61.38.101
# DB_PORT=5432
# DB_DATABASE=sigyo_bionio_hml
# DB_SCHEMA="contas_receber,public"
# DB_USERNAME=alexandre_almeida
# DB_PASSWORD=z258Aue!s2ep@srv535752


# dev
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE= Nova_364_Contratos
DB_SCHEMA="public"
DB_USERNAME=postgres
DB_PASSWORD=Al3x4ndr3@1747

QUEUE_CONNECTION=database
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=t.i@uzzipay.com
MAIL_PASSWORD=dfisfturtjfmuubb
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-replay@uzzipay.com"
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"





